
	<!-- post提交方法必须 -->
<form class="form-horizontal" role="form" method='post' action="http://fu.dicyan.cn/web/index.php?c=site&a=entry&eid=185">
	<input type="hidden" name="action" value="save">
  <div class="form-group">
    <label for="firstname" class="col-sm-2 control-label">祝福语</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="firstname" placeholder="请输入祝福语" name="word">
    </div>
  </div>
  <div class="form-group">
    <label for="lastname" class="col-sm-2 control-label">适用婚龄</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="lastname" placeholder="请输入婚龄" name="age">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">提交</button>
    </div>
  </div>
</form>

